html {
  font-size: 62.5%;
      box-sizing: border-box;
  }
  body{
      margin: 0;
      height: 100vh;
      font-size: 1.6rem;  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; 
  }
  #root {
    height: 100%;
  }
  .grid-container {
      display: grid;
      grid-template-areas: 
      "header"
      "main"
      "footer";
      grid-template-columns: 1fr;
      grid-template-rows: 5rem 1fr 5rem;
      height: 100%;
  }
  header {
      grid-area: header; 
      background-color: #258b72;
  }
  main {
      grid-area: main;
      padding: 1rem;
  }
  footer {
      grid-area: footer;
      color: whitesmoke;
      background-color: #258b72;   
  }
  .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;     
  }
  h1 {
   font-size:1.8rem;
   padding: 1rem 0;   
  }
  h2 {
      font-size:1.6rem;
      padding: 1rem 0;   
     }
  a{
      text-decoration: none;
  }
  a:hover {
      color: #000000;
  }
  header a {
      color: whitesmoke;
      padding: 1rem; 
  }
  a.brand {
  font-size: 3rem;
  font-weight: bold ;
  }
  .row.center {
      justify-content: center;
  }
  .row.top {
    align-items: flex-start;
} 
.col-1 {
    flex: 1 1 25rem;
}
.col-2 {
    flex: 2 1 50rem;
}
  img{
      border-radius: 0.5rem;
  }
  img.medium {
      max-width: 29rem;
      width: 100%;
  }
  img.large {
      max-width: 58rem;
      width: 100%;
  }
  ul{
      margin:0;
      padding:0;
      list-style-type: none;
  }
  li{
    margin-top:1rem;
  }
  p{
     font-size: 1.2rem; 
  }
  .card {
      border: 0.1rem grey solid;
      background-color: #e1faf3;
      border-radius: 0.5rem;
      margin: 1rem;
  }
  .card-body {
      padding: 0.7rem;
  }
  .card-body > * {
      margin-bottom: 0.5rem;
      color: #258b72;  
  }
  .price {
      font-size: 2rem ;
  }
  .rating span {
      color: #f0c040 ;
      margin:0.1rem
  }
  .rating span:last-child {
      color: grey
  }
  .success{
      color:rgb(10, 240, 10);
  }
  .error{
    color:rgb(255, 2, 2);
}
button{
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem rgb(168, 167, 167) solid;
    background-color: lightgray;
    cursor: pointer;
}
button.primary{
background-color: rgb(238, 204, 13);
}
button.block{
    width: 100%;
}
button:hover{
    border: 0.1rem  rgb(54, 54, 54) solid;
}
.link {
    color:#258b72;
}